
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bold{
    font-weight: bold;
}
